<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel = "stylesheet" href = "about.css">
    </head>
<body>
        <h2>Who are we?</h2>
        <br>
        <p>Help people plan outdoor activities based on their location, weather, and hobbies.</p>
        <br>
        <h2>About the App</h2>
        <br>
        <p>Add your location and checkmark your favorite outdoor activities. We will recommend <br> those activites if the weather permits at your location.</p>
    <div class = "loginLink">
        <a href = "login.html">Back to login page</a>
    </div>
</body>