<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel = "stylesheet" href = "login.css">
    </head>
<body>
    <div class = "navbar">
        <a href = "register.html">Create Account</a>
        <a href = "about.html">About</a>
    </div>
     <h1>Granola Travels</h1>
     <p>Planning the next outdoor adventure.</p>

    <form>
    <div class = "login">
        <div class="mb-3">
          <input type="text" class="form-control" id="username" placeholder="Enter Username">
        </div>
        <br>
        <div class="mb-3">
          <input type="text" class="form-control" id="password" placeholder="Enter Password">
        </div>
        <br>
            <button type="submit" class="btn btn-success">login</button>
        <br>
        <br>

    </div>
    </form>
</body>
</html>